@import url(https://fonts.googleapis.com/css?family=Playball);

body{
  margin: 0px;
  padding: 0px;
  overflow-y:hidden;
}
.header{
  height:100vh;
  width:100%;
  background-image:url('../img/header_background.jpeg');
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
}

/*
  *************************** START RANDOM SWITCHER EVENTS ***********
  classes switcher and change should rotate
  betweeen the different spans on random intervals to show different information
*/

.switcher:nth-child(2), .change{
  display:none;
}
.switcher:first-child, .change:first-child{
  display: inline;
}
/*
  **************************** END RANDOM SWITCHER EVENTS  ************
*/

.navigation{
  position:absolute;
  top:5%;
  right:5%;
}
.navigation a{
  text-decoration:none;
  color:rgba(0,0,0,0.2);
  font-family:'Open Sans';
  font-weight:bold;
  font-size:22px;
  padding:3px 15px;
  margin:5px;
  border:2px solid transparent;
}
.navigation a:hover{
  border-bottom:2px solid white;
}
.header_title{
  position:absolute;
  top:30%;
  left:15%;
  width:60%;
}
.title{
  font-family:'Playball';
  font-style:italic;
  font-size:70px;
  color:rgb(217,50,64);
  width:auto;
}
.kicker{
  position:absolute;
  display:inline;
  left:30%;
  color:rgba(0,0,0,0.4);
  font-family:'Playball';
  font-size:20px;
}

@keyframes bounce {
    0% {bottom: 10%;}
    50% {bottom: 5%;}
    100% {bottom: 10%;}
}

.slide_down_button img{
  position:absolute;
  text-align:center;
  bottom: 10%;
  left:50%;
  margin:-25px 0 0 -25px;
  height:50px;
  width:35px;
  cursor:pointer;
}
.slide_down_button img:hover{
  position:absolute;
  left:50%;
  bottom:10%;
  animation:bounce .5s infinite;

}
.legal{
  position:absolute;
  bottom:3%;
  right:3%;
  color:rgba(255,255,255,0.4);
  font-family:'Playball';
  font-size:14px;
}
.about{
  display:block;
  width:80%;
  margin:auto;
}
.about p{
  font-family:'Open Sans';
  font-size:18px;
  letter-spacing:0.15em;
  margin-top:40px;
}
.footer{
  height:40vh;
  background:#333;
}
